.firstDiv {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 22.5px;
  margin-bottom: 10px;
}
.authorsAndInstitutions {
  height: 330px;
  overflow: auto;
  margin-bottom: 20px;
}
.firstDiv img {
  width: 35%;
  height: 550px;
  box-shadow: 0px 0px 2px grey;
}
.firstDiv .infos {
  width: 65%;
}
.title_subTitle {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-top: 8px;
}
.title_subTitle label,
.secondDiv label {
  color: #000080;
  font-weight: bolder;
  font-size: 28px;
  margin-bottom: 17px;
  text-shadow: 0px 0px 1.5px #000080;
}
.title_subTitle input {
  margin-bottom: 17px;
  height: 45px;
  border: solid 2px #000080;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 0px 0px 1.75px #000080;
  font-size: 25px;
}
.kWords {
  width: 85%;
  overflow: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  border: #000080 solid 2px;
  box-shadow: #000080 0px 0px 1.75px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  margin-bottom: 15px;
}
.RefsDiv {
  height: 350px;
  text-align: center;
  overflow: auto;
}
h7 {
  font-size: 25px;
  color: grey;
  opacity: 0.5;
  margin-left: 20px;
  margin-top: 20px;
}
.kWords article {
  height: 43.5px;
  border: solid 2px #000080;
  border-radius: 10px;
  width: 25%;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 1.75px #000080;
  padding-left: 15px;
  padding-right: 15px;
}
.kWords article p {
  text-shadow: 0px 0px 0.75px grey;
  font-size: 25px;
}
.iconDelete {
  cursor: grab;
  font-size: 25px;
}

.view {
  display: none;
}
.authAnDinst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 3.5%;
  margin-bottom: 10px;
  align-items: center;
}
.Deleteicon {
  font-size: 30px;
}

.authAnDinst article,
.authAnDinst input {
  border: solid 2px #000080;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 0px 1.75px #000080;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.authAnDinst input {
  height: 47px;
  width: 50%;
}
.authAnDinst article {
  width: 35%;
  height: 50px;
}
.changing {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}
.changing2 {
  display: flex;
  align-items: center;
}
.changing3 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.kwHolder,
.refHolder {
  font-size: 25px;
  margin-top: 7.5px;
  width: 92.5%;
  height: 45px;
  border: solid 2px #000080;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 0px 0px 1.75px #000080;
}
.authHolder,
.instHolder {
  font-size: 25px;
  margin-top: 5px;
  width: 45%;
  height: 45px;
  margin-right: 15px;
  border: solid 2px #000080;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 0px 0px 1.75px #000080;
}
.refHolder {
  margin-bottom: 20px;
}
.add,
.add2,
.add3 {
  width: 5%;
  font-size: 40px;
  color: #000080;
  background-color: white;
  border: none;
  cursor: grab;
}
.add {
  margin-top: 10px;
}
.add2 {
  margin-top: -8px;
}
.add3 {
  margin-top: 10px;
}
.secondDiv {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.secondDiv textarea {
  font-size: 25px;
  padding: 20px 20px;
  line-height: 35px;
  border: solid 2px #000080;
  border-radius: 10px;
  height: 550px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1.75px #000080;
  text-shadow: 0px 0px 0.75px grey;
}
#resume {
  height: 450px;
}
.secondDiv label {
  margin-top: 10px;
}
.ref {
  height: 50px;
  border: solid 2px #000080;
  border-radius: 10px;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: 0px 0px 1.75px #000080;
  padding-left: 15px;
  padding-right: 15px;
}
.ref p {
  font-size: 20px;
}
.decision {
  width: 35%;

  margin-left: 55%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.decision button {
  font-size: 20px;
  width: 35%;
  height: 50px;
  border-radius: 10px;
  cursor: grab;
  box-shadow: 0px 0px 1.75px #000080;
}
.decision button:hover {
  font-size: 26px;
}
.decision #st,
.decision #nd:hover {
  color: white;
  background-color: #000080;
  border: none;
}
.decision #nd {
  background-color: white;
  color: #000080;
  border: solid 2px #000080;
}
@media only screen and (max-width: 500px) {
  .firstDiv {
    flex-direction: column;
    margin-top: 10px;
  }
  .firstDiv img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  .firstDiv .infos {
    width: 90%;
    margin-left: 5%;
  }
  .secondDiv {
    width: 80%;
    margin-left: 10%;
  }

  .refHolder {
    height: 50px;
  }
  .ref {
    height: 80px;
    width: 90%;
  }
  .RefsDiv {
    height: 500px;
    margin-top: 2.5px;
  }

  .integ {
    display: none;
  }
  .view {
    cursor: grab;
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    font-size: 20px;
  }
  .view a {
    text-decoration: none;
    color: black;
  }
  .kwHolder {
    height: 50px;
  }
  .kWords {
    width: 100%;
    margin-left: 0;
  }
  .kWords article {
    width: 30%;
    height: 50px;
  }
  .authAnDinst {
    flex-direction: column;
    margin-bottom: 0;
    border-bottom: solid 1px #000080;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* justify-content: space-between; */
  }
  .changing3 {
    margin-left: 6%;
  }
  .authorsAndInstitutions {
    height: 900px;
  }
  .authAnDinst #inst,
  #auth {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 2.5%;
  }
  .authHolder {
    width: 80%;
    height: 50px;
  }

  /* .Deleteicon {
    font-size: 17.5px;
  } */
  .authHolder botton {
    padding-top: 20px;
  }
  .decision {
    width: 90%;

    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 610px) and (min-width: 500px) {
  #nd {
    width: 45%;
  }
}
