.titleFavoris {
    font-size: 47px;
    width: fit-content;
    position: absolute;
    left: 50%;
    translate: -50%;
    color: #000080;
    text-align: center;
    position: relative;
}
.titleFavoris::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: 1px;
    background-image: linear-gradient(to right, #000000, #000080, #05055f);
    left: -129px;
    top: 50%;
    translate: 0 -50%;
    z-index: -1;
}
.titleFavoris::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: 1px;
    background-image: linear-gradient(to right, #05055f, #000080, #000000);
    right: -125px;
    top: 50%;
    translate: 0 -50%;
    z-index: -1;
}
.favorits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
    margin: 17px;
}
.favorits .heart {
    width: calc(100% - 20px);
    text-align: end;
}
.favorits .heart .icon {
    color: red;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.favorits .card-container {
    /* display: flex;
    flex-direction: column; */
    background-color: white;
    box-shadow: 0 2px 15px 0px rgba(0,0,0,.1);
    border-radius: 6px;
    overflow: hidden;
    transition: translate .3s,box-shadow .3s;
    position: relative;
}
.favorits .card-container:hover {
    box-shadow: 0 2px 15px 0px rgba(0,0,0,.2);
    translate: 0 -10px;
}
.favorits .card-container img {
    max-width: 100%;
}
.favorits .card-container .content {
    padding: 20px;
}
.favorits .card-container .content h3 {
    margin: 0;
    font-size: 22px;
    color: #000080;
}
.favorits .card-container .content div {
    margin: 10px 0 0;
    line-height: 1.3;
    color: #777;
}
.favorits .card-container .content div .auteurs {
    color: black;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
    margin-right: 8px;
}
.favorits .card-container .content div p {
    font-size: 15px;
}
.favorits .card-container .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
}
.favorits .card-container .info .more {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    padding: 3px 14px;
    background-color: #000080;
    border-radius: 30px;
    font-size: 14px;
}
.favorits .card-container .info .more:hover {
    background-color: #191ab0;
}
.favorits .card-container .info div {
    font-size: 13px;
    line-height: 1.5;
    color: #777;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.favorits .card-container .info div .tags {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 8px;
}
